.reservation-box {
  /* border: 3px solid green; */
display: grid;
grid-area: reservation-box;
grid-template-columns: 2fr;
grid-template-rows: 1.5fr 1fr 1fr 2fr 2fr 1fr;
grid-template-areas:
    "make-res make-res"
    "party-size party-size"
    "party-select party-select"
    "date time"
    "notes"
    "book";
border-radius: 4px;
box-shadow: 0px 2px 3px 0px rgba(181, 181, 180, 0.438);
padding: 10px;
margin-top: 80px;
/* z-index: 1; */
}


.make-res {
grid-area: make-res;
/* background-color: green; */
display: flex;
justify-content: center;
align-items: center;
border-bottom: solid lightgray thin;
border-radius: 4px;
}

/* .party-size { */
/* grid-area: party-size; */
/* background-color: blue; */
/* font-size: 12px; */
/* display: flex; */
/* align-items: center; */
/* } */

/* .party-select {
grid-area: party-select;
background-color: yellow;
} */

.date-time-header-container {
    display: flex;
    cursor: default;
    justify-content: space-evenly;
    color: #333;
}

.date-header {
    margin-right: 55px;
}

.separator-res {
    border-bottom: 1px solid lightgrey;
    margin: 5px 0 5px;
  }


.date-time-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .date-header, .time-header {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .date-input, .time-input {
    width: 100%;
    border: 1px solid rgb(139, 139, 139);
    border: none;
    font-size: 12px;
    /* border-radius: 5px; */
    /* margin-bottom: 3px */
  }

  .time-input {
    height: 18px;
  }

.find-time {
grid-area: find-time;
background-color: rosybrown;
}


.notes {
grid-area: notes;
/* color: #333; */
border: 1px solid lightgray;
width: 98%;
height: 17px;
font-size: 12px;
border-radius: 5px;
}

.book {
grid-area: book;
width: 101%;
}

.book-button {
    width: 100%;
    margin-top: 8px;
    margin-left: 2px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #0056b3;
}
