
.restaurant-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 2.9fr 0.15fr 1.4fr 0.9fr;
    grid-template-rows: 375px auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "restaurant-cover-image restaurant-cover-image restaurant-cover-image restaurant-cover-image restaurant-cover-image"
      ". restaurant-column1 . restaurant-column2 ."
      ". restaurant-column1 . restaurant-column2 ."
      ". restaurant-column1 . restaurant-column2 .";
      background-color: lightyellow;
}

.restaurant-cover-image {
    grid-area: restaurant-cover-image;
    background-color: lightblue;
    /* overflow: hidden; */
}

.restaurant-column1 {
    grid-area: restaurant-column1;
    background-color: lightcoral;
    margin-top: -40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px 200px auto;
    grid-template-areas:
      "restaurant-links"
      "restaurant-name"
      "random-box"
      "restaurant-reviews";
    padding-left: 15px;
    border-radius: 3px;
}

.restaurant-links{
    grid-area: restaurant-links;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    font-size: 12px;


}

.restaurant-name {
    grid-area: restaurant-name;
    background-color: pink;
    border-top: solid lightgray thin;
    font-size: 40px;
    display: flex;
    align-items: center;
    border-bottom: solid lightgray thin;

}

.random-box {
    grid-area: random-box;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 100px;
    grid-template-areas:
        "ratings-average-bar"
        "top-tags"
        "restaurant-description";
}

.ratings-average-bar {
    grid-area: ratings-average-bar;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }

  .average-rating::before {
    --percent: calc(4.3/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background:
      linear-gradient(90deg, rgb(221, 65, 65) var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.top-tags {
    grid-area: top-tags;
}

.restaurant-description {
    grid-area: restaurant-description;
}


#restaurant-reviews {
    grid-area: restaurant-reviews;
    background-color: rgb(150, 150, 99);

}

.restaurant-column2 {
    grid-area: restaurant-column2;
    background-color: lightcyan;
    margin-top: -40px;
}
