/* TODO Add site wide styles */
/* .app-container {
    height: calc(100vh - 300px);
} */

.appcontainer {
    /* min-height: calc(100vh - 200px); */
    /* height: calc(100vh); */
    margin-bottom: 170px;
}

.appcontainer > *:not(footer) {
  margin-bottom: auto;
}

.pinme{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5
}

/* .footer-wrapper{
  position: relative;
  left: 0;
  bottom: 0;
} */
