.dropdown-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }

  .dropdown-btn:hover {
    background-color: #007bff;
  }
