body {
  font-family: "Raleway",sans-serif;
}

.homepage-search {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url("https://assets.bonappetit.com/photos/62f40c3d43365e834b4d2813/16:9/w_2992,h_1683,c_limit/0810-dimes-square-lede.jpg") no-repeat center center;
    background-size: cover;
  }

.homepage-search::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
  
  .homepage-header {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .reservation-search {
    position: absolute;
    top: 60%;
  }

  a {
    text-decoration: none;
    color: #333;
  }



.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
    /* margin-bottom: 20%; */
    max-width: 2500px;
    margin: 0 auto 20%;
  }

  .homepage-header, .reservation-search {
    text-align: center;
  }

  .view-restaurants {
    color: rgb(68, 112, 216);
  }

  .view-restaurants:hover {
    color: rgb(88, 132, 236);
  }

  .featured-bar {
    position: relative;
    left: 40px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
    margin-top: 40px;
    
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 237px;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .featured-restaurant-cards {
    max-width: 2200px;
    margin: 0 auto;
  }

  .card-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

  .card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .card-name, .card-cuisine {
    margin: 10px 0;
  }

  .active-price {
    color: #333;
  }
  
  .inactive-price {
    color: lightgrey; 
  }
  
  .card-name {
    flex-grow: 1;
    font-weight: bold;
    color: #333;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dot {
    margin: 0 5px;
  }

  
