.user{
    width: 60%;
    margin: 0 auto;
}

.reservimg{
height: 175px;
width: 200px;
border-radius: 4px;
object-fit: cover;
}

.reservation-tile{
   display: grid;
   height: 240px;
  border-bottom: solid lightgray thin;
  margin: 20px;
}

.extends-nav-height {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100px;
    flex-direction: column;
}

.extends-nav-height h4 {
margin: 1px;
}

.extends-nav-height h2 {
margin: 1px;
}

.links {
    width: 33%;
    float: left;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
}

.reservations-container{
    width: 66%;
    float: right;
    height: calc(100vh - 100px);
}
/* .reservations-container{
    overflow-y: scroll;
} */

.progress {
    height: 100%;
    background-color: green;
    border-radius: 10px;
}


.points-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 80px;
    gap: 10px;
}

.points-container p {
margin: 0px;
}
.points-container h4 {
margin: 2px;
}

.earned {
    grid-column: 1 / span 1;
}

.goal {
    grid-column: 4 / span 1;
}

.points-bar {
    grid-column: 1 / span 4;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
}
