.user{
    width: 60%;
    margin: 0 auto;
}

.extends-nav-height {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100px;
    flex-direction: column;
}

.extends-nav-height h4 {
margin: 1px;
}

.extends-nav-height h2 {
margin: 1px;
}

.links {
    width: 33%;
    float: left;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
}

.progress {
    height: 100%;
    background-color: green;
    border-radius: 10px;
}


.points-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 80px;
    gap: 10px;
}

.points-container p {
margin: 0px;
}
.points-container h4 {
margin: 2px;
}

.earned {
    grid-column: 1 / span 1;
}

.goal {
    grid-column: 4 / span 1;
}

.points-bar {
    grid-column: 1 / span 4;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
}


.reservations-container{
    width: 66%;
    float: right;
    height: calc(100vh - 100px);
}
/* .reservations-container{
    overflow-y: scroll;
} */

.reservation-tile{
   display: grid;
   /* grid-template-rows: auto 2fr; */
   grid-template-columns:auto 2fr;
   height: 200px;
  border-bottom: solid lightgray thin;
  margin: 20px;

}

.reservimg{
height: 175px;
width: 200px;
border-radius: 4px;
object-fit: cover;
     /* border: solid lightgray thin;
     margin: 10px;
     box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out; */
}

.col2{
    margin-left: 15px;
    margin-top: 20px;
}
.reservuser{
    display:inline-block;
}
.reservtime{
    display:inline-block;
}



/* .edit-reserv .cancel-reserv .review-reserv {} */
.reservation-tile .open-modal-button{
        background-color: crimson;
        height: 50px;
        width:100px;
        margin-top: 20px;
        margin-right: 10px;
}
