.delete-form-div {
    margin: auto;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    color: #333;
}

.form {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    padding: 1px;
    margin-bottom: 20px;
}

.delete-submit-button {
    background-color: #da3743;
    color:  white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
}

.keep-submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
}

.delete-submit-button:hover {
    background-color: #b8302a;
}

.keep-submit-button:hover {
    background-color: #0056b3;
}

